/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab');


*{
    margin: 0;
    padding: 0;
    color: #555555;
}

html{
    font-size: 62.5%;
}
//Variables

//Green
$green: lighten(#a8f254,20%);
$green-border: darken($green, 80%);

//blue
$blue:lighten(#69bfea,20%);
$blue-border: darken($blue,80%);

//red
$red:lighten(#ea6868,20%);
$red-border:darken($red,80%);






body{
    font-family: 'Roboto Slab', serif;
    background: #eeeeee;
    font-size: 1.6rem;
}

h1{
    font-weight: 200;
    color:#ffffff;
    font-size: 2.4rem;
}

input,form,select{
    font-size: 1.5rem;
}

@import './components/button';
@import './components/item';
@import './components/title-bar';
@import './components/wrapper';
@import './components/college';
@import './components/form';
@import './components/image';


@media only screen and (max-width: 350px) {
    .form{
        display: flex;
    }
    .form__input{
        flex-grow: 2;
        padding: 0 1.1rem;
    }
    .button{
        flex-grow: 1;
        flex-basis: 2.0rem;
        padding: 0.3rem;
        font-size: 1.3rem;
    }
    .college{
        display: flex;
    }
    .college__stats{
        flex-basis: 24.0rem;
        flex-grow: 3;
    }
    .college__actions{
        flex-grow: 1;
    }
}