
@import url('https://fonts.googleapis.com/css?family=Vidaloka');


.title-bar{
    background: darken(pink,20%);
     color: #ffffff;
}

.title-bar__subTitle{
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffffff;
}

.align{
    text-align: center;
}


.author{
    margin-top: 1.3rem;   
    font-family: 'Vidaloka', serif;
    font-size: 1.8rem;
}
.author--name{
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
    font-weight: 800;
}